.homeinput {
  @apply rounded-lg mr-3 p-3;
  box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.25);
  min-width: 50vh;
  transition: all 200ms;
}

.homeinput:hover {
  transform: scale(1.01);
}

.homeinput:focus {
  box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.15);
  transform: scale(1);
}

.homebtn {
  @apply rounded-lg p-3 bg-blue-500 text-white;
  display: inline-block;
  box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.25);
  transition: all 200ms;
}

.squarebtn {
  width: 3.25rem;
}

.homebtn:hover {
  transform: scale(1.02);
}

.homebtn:active {
  box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.15);
  transform: scale(1);
}
