.popup {
  @apply transition-all duration-200 flex flex-col text-center justify-center items-center p-8 rounded-lg fixed bg-green-600 text-white z-50;
  left: 50vw;
  top: 50vh;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.25);
}

:global(.callpopup-enter) {
  opacity: 0;
  transform: translateX(-50%) translateY(-55%);
}

:global(.callpopup-active) {
  opacity: 1;
  transition: all 300ms;
  transform: translateX(-50%) translateY(-50%);
}

:global(.callpopup-exit) {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%);
}

:global(.callpopup-exit-active) {
  opacity: 0;
  transform: translateX(-50%) translateY(-45%);
  transition: all 300ms;
}
